<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="/assets/communitylogo-removebg-preview.png" alt="Logo" width="300" height="90" class="me-2">
    </a>
    <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav ms-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" routerLink="#" id="profileDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
          
              <span>Login</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown"
              style="background-color: #F7F7F7">
              <li><a class="dropdown-item" routerLink="/adminlogin">Admin Login</a></li>
              <hr style="width: 80%; margin-left: auto; margin-right: auto; padding: 0%;">
              <li><a class="dropdown-item" routerLink="/residentlogin">Resident Login</a></li>
              <hr style="width: 80%; margin-left: auto; margin-right: auto;">
              <li><a class="dropdown-item" routerLink="/servicelogin">Service Login</a></li>
            </ul>
          </li>

        </ul> -->

      </div>
    </b>
  </div>
  </div>
</nav>