<div class="container">
  

  <div class="card" style="background-color: #e0ffff;">
    <div class="number">25</div>
    <div class="text">Total no of Flats<br>Unoccupied</div>
    <div><i class="bi-building"></i> </div>
  </div>

  <div class="card" style="background-color: #f5f5f5;">
    <div class="number">{{totalServiceProviders}}</div>
    <div class="text">Total no of <br>Service Providers</div>
    <div><i class="bi-file-person"></i></div>
  </div>

  <div class="card" style="background-color: #ffe0e0;">
    <div class="number">425</div>
    <div class="text">Total no of <br> Flats</div>
    <div class="icon"><i class="bi-house-door-fill"></i></div>
  </div>

  <div class="card" style="background-color: #e0ffe0;">
    <div class="number">{{totalResidents}}</div>
    <div class="text">Total no of Residents<br>in the apartment</div>
    <div class="icon"><i class="bi-people-fill"></i></div>
  </div>

  <div class="card" style="background-color: #f5f5f5;">
    <div class="number">{{totalComplaints}}</div>
    <div class="text">Total no of Complaints</div>
    <div class="icon"> <i class="bi bi-exclamation-circle"></i></div>
  </div>

  <div class="card" style="background-color: #e0ffff;">
    <div class="number">400</div>
    <div class="text">Total no of Flats<br>Occupied</div>
    <div class="icon"><i class="bi-caret-up-square-fill"></i></div>
  </div>

  
</div>