<div *ngIf="complaints.length > 0; else noComplaints">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Person Name</th>
          <th>Flat No</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaints; let i = index">
          <td>{{ i + 1 }}</td> <!-- Incremented serial number -->
          <td>{{ complaint.personName }}</td>
          <td>{{ complaint.flatNo }}</td>
          <td>{{ complaint.title }}</td>
          <td>{{ complaint.description }}</td>
          <div class="customCenter">
            <td [ngClass]="complaint.status === 1 ? 'badge badge-warning' : 'badge badge-success'">{{ complaint.status === 1 ? 'Pending' : 'Resolved' }}</td>
          </div>
          <td>
            <div>
              <button class="btn btn-danger" (click)="deleteComplaint(complaint.complaintId)"><i class="fa-solid fa-trash"></i></button>
              <button class="btn btn-secondary" (click)="updateComplaintStatus(complaint)" style="margin-left: 4px;"><i class="fa-solid fa-pen"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noComplaints>
    <p>No complaints found.</p>
  </ng-template>
  
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  