<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard/serviceprovider">
          <i class="bi bi-telephone"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

   
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard/serviceprovider/viewrequest">
          <i class="bi bi-globe"></i>
          <span>view Requests</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard/serviceprovider/viewpost">
          <i class="bi bi-file-post"></i>
          <span>Posts</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard/serviceprovider/weather">
          <i class="bi bi-thermometer-sun"></i>
          <span>Weather</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard/serviceprovider/serviceprovidercontact">
          <i class="bi bi-telephone"></i>
          <span>Contact</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->