
.container{
    width:400px;

    background-color: #E5E5EA;; border-radius: 5px; padding: 20px;
}
.loginbtn{
    padding-left: 160px;
}
.btn
{
    background-color:  #2E4053;
    color: white;
}

a{
    color:#2E4053
}