<div class="container mt-4">
    <div class="row">
      <!-- Card 1: Resident Name -->
      <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
          <div class="card-body">
            <h5 class="card-title">Resident Name</h5>
            <p class="card-text"> {{userName}}</p>
          </div>
        </div>
      </div>
  
      <!-- Card 2: Number of Requests -->
      <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <h5 class="card-title">Number of Requests</h5>
            <p class="card-text">{{totalNoOfRequests}}</p>
          </div>
        </div>
      </div>
  
      <!-- Card 3: Upcoming Events -->
      <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
          <div class="card-body">
            <h5 class="card-title">Upcoming Events</h5>
            <p class="card-text">{{upcomingEventsCount}}</p>
          </div>
        </div>
      </div>
  
      <!-- Card 4: Notifications -->
      <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Notifications</h5>
            <p class="card-text">5</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  